In [6]:
import pandas as pd

In [10]:
tsdem = pd.read_csv("../../datos/original_raw/TSDEM.csv")

In [12]:
tsdem.head(20)

,LLAVESDE,LLAVEVIV,LLAVEHOG,PAREN,SEXO,EDAD,P3_6_1,P3_6_2,P3_6_3,P3_7,...,VIV_SEL,HOGAR,N_REN,ENT,MUN,TLOC,REGION,FAC_HOG,UPM_DIS,EST_DIS
0,30012203101,30012203,300122031,1,1,60,NaN,NaN,1.0,NaN,...,3,1,1,3,3,1,2,290,276,24
1,30012204101,30012204,300122041,1,1,22,NaN,NaN,2.0,2.0,...,4,1,1,3,3,1,2,290,276,24
2,30012205105,30012205,300122051,6,2,86,NaN,NaN,2.0,NaN,...,5,1,5,3,3,1,2,290,276,24
3,30012205101,30012205,300122051,1,1,56,NaN,NaN,2.0,NaN,...,5,1,1,3,3,1,2,290,276,24
4,30012205103,30012205,300122051,3,2,26,NaN,NaN,2.0,2.0,...,5,1,3,3,3,1,2,290,276,24
5,30012205102,30012205,300122051,2,2,54,NaN,NaN,2.0,NaN,...,5,1,2,3,3,1,2,290,276,24
6,30012901102,30012901,300129011,2,2,28,NaN,NaN,2.0,2.0,...,1,1,2,3,3,1,2,429,286,25
7,30012901101,30012901,300129011,1,1,32,NaN,NaN,1.0,NaN,...,1,1,1,3,3,1,2,429,286,25
8,30012903101,30012903,300129031,1,2,34,NaN,NaN,2.0,NaN,...,3,1,1,3,3,1,2,429,286,25
9,30012903102,30012903,300129031,2,1,41,NaN,NaN,1.0,NaN,...,3,1,2,3,3,1,2,429,286,25
10,30012904102,30012904,300129041,2,2,46,1.0,1.0,1.0,NaN,...,4,1,2,3,3,1,2,429,286,25
11,30012905101,30012905,300129051,1,1,35,NaN,NaN,2.0,NaN,...,5,1,1,3,3,1,2,429,286,25
12,30012905102,30012905,300129051,2,2,32,NaN,NaN,1.0,NaN,...,5,1,2,3,3,1,2,429,286,25
13,30013001103,30013001,300130011,4,2,11,NaN,NaN,NaN,1.0,...,1,1,3,3,3,1,2,363,299,25
14,30013001101,30013001,300130011,1,2,67,NaN,NaN,2.0,NaN,...,1,1,1,3,3,1,2,363,299,25
15,30013002103,30013002,300130021,3,2,0,NaN,NaN,NaN,NaN,...,2,1,3,3,3,1,2,363,299,25
16,30013002101,30013002,300130021,1,1,30,NaN,NaN,2.0,NaN,...,2,1,1,3,3,1,2,363,299,25
17,30013002102,30013002,300130021,2,2,30,NaN,NaN,1.0,NaN,...,2,1,2,3,3,1,2,363,299,25
18,30013003101,30013003,300130031,1,1,45,NaN,NaN,1.0,NaN,...,3,1,1,3,3,1,2,363,299,25
19,30013003103,30013003,300130031,3,2,18,NaN,NaN,2.0,1.0,...,3,1,3,3,3,1,2,363,299,25